/* 样式：showL hide */
.custom-show-hide {
    font-size: small;
    border-color: var(--vp-custom-block-details-border);
    border-radius: 8px;
    padding: 16px 16px 8px;
    line-height: 24px;
    color: var(--vp-custom-block-details-text);
    background-color: var(--vp-custom-block-details-code-bg);
}
